<nav class="navbar fixed-bottom" style="background-color: #000000;">
{%- if site.show-style-guide %}
    <a class="nav">© 2017 SHOPEROO ALL RIGHTS RESERVED</a>
{%- endif %}
<div class="socials">
    <a href="https://www.instagram.com/" target="new" title="Instagram"> 
    <img class="socialicon" src="assets/img/ig.png" height="30" width="30"> </a>
     <a href="https://www.facebook.com/"target="new" title="Facebook"> 
        <img class="socialicon" src="assets/img/fb.png" height="30" width="30"> </a> 
        <a href="https://twitter.com/" target="new" title="Twitter"> 
            <img class="socialicon" src="assets/img/tw.png" height="30" width="30"></a> 
    <a href="https://www.youtube.com" target="new" title="Youtube"> 
        <img class="socialicon" src="assets/img/yt.png" height="30" width="30s"> </a>
</div>
</nav>